<!DOCTYPE html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">  
<title>Makeyou</title>
<link rel = 'stylesheet' href = "view.css">
</head>
<body>
    <header>
    </header>
    <nav>
        <ul>
                <li><a href="../landing-page/landing.html">Home</a></li>
                <li><a href="../add item/add.html">Add Item</a></li>
                <li><a href="#contact">Contact</a></li>
                <li style="float:right"><a href="../sign up-page/signup.html">Sign Up</a></li>
                <li style="float:right"><a href="../login-page/login.html">Log In</a></li>
        </ul>
        </nav>
        <main>
            <div class="row">
                <h2>Eye Brown Pink</h2>
                <div class="column back">
                </div>
                <div class="column front">
                  <h3>Description About Eye Brown Pink</h3>
                  <p>Choose your shades. Bestselling Boy Brow thickens, fills in, and grooms brows into place.
                     Generation G sheer matte lipstick gives the look and finish of just-blotted lipstick, without the blot
                     . Swipe on for a diffused wash of color, or build it up for a more opaque look. 
                     Pick between Clear, Brown, Black, and Blond Boy Brow, along with any shade of Gen G:
                      Cake (a subtle peach), Crush (a hot raspberry pink), Like (a light, cool pink), Zip (a poppy red),
                       Leo (a neutral cocoa brown), or Jam (a deep berry).

                      Save $4 when you build a duo.</p>
                      <button class = "delete">Delete item</button>
                      <button class = "edit">Edit item</button>
                </div>
              </div>
              <hr>
              <h3>Details About the Items</h3>
              <ul>
                <li>It easy to use</li>
                <li>It easy to use</li>
                <li>It easy to use</li>
                <li>It easy to use</li>
                <li>It easy to use</li>
                <li>It easy to use</li>
              </ul>
              <h3>How to get this product</h3>

        </main>
        <footer>
            <div class="grid-container">
                <div class="footer">
                   <h2>About</h2> 
                   </div> 
                </div>
</footer>
    </body>
    </html>